table, th, td {
	border-collapse: separate;
	border: 1px solid black;

}

#tablita table{
	float: none;
	position: center;

}

table {
margin: 0 25% ;
}

#contenido h2 {
	color: black;
	text-align: left;

}


#contenido{
	margin: 0 5%;
}